        /* Reset some default styles */
        /* body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        ul,
        li,
        a {
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
        } */

        #section_cam {
            display: flex;
            justify-content: space-between;
            padding: 20px;
                        margin-bottom: 20px;
        }

        #section_cam>div {
            flex: 1;
            padding: 10px;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 20px;
            color: #666;
            margin-bottom: 20px;
        }


        .button_cam {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 32%;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.button_cam:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.button_cam:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.button_cam:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.input-group {
  display: flex;
  align-items: center;
  width: fit-content;
}

.inputxx1 {
    min-height: 60px;
    width: 571px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #ffffff;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
}

.button--submitxx {
    min-height: 61px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #fdfdfd;
    color: #f02121;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
